*{
box-sizing:border-box;	
}
body,html{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: arial;
}

}
p{
	font-size:20px;
	text-align: right;
}
.m{font-size: 18px;
		text-decoration: none;
		color: #fff;
		font-family: Georgia,verdana,sans-serif;
		text-align:right;
	
}
.banner-img{
	background-image: url(website1.1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center center;
	height: 100%;
	filter:blur(2px);
}
.banner-text{
	position: absolute;
	top: 40%;
	left: 10%;
	transform: translate(-50%,-50%);
	z-index: 3;
	width: 15%;
	padding:30px 0;
	text-align: center;
	border-top-left-radius: 70px;
	border-bottom-right-radius:70px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	font-weight : bold;
	border: 10px inset #fff;
	}
	.banner-text p{
		padding: 0 8%;
		font-family: seoge script;
		
	}
	a{
		display: inline-block;
		padding: 10px 65px;
		border: 0px solid #fff;
		font-size: 18px;
		text-decoration: none;
		color: #fff;
		
		text-align:center center;
		
}
.banner1-text{
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%,-50%);
	z-index: 3;
	width: 70%;
	height: 90%;
	padding:30px 0;
	text-align: center;
	border-top-left-radius:50px;
		border-top-right-radius:50px;
			border-bottom-left-radius: 50px;
	
	border-bottom-right-radius:50px;
	background-color: rgba(0,0,0,0.3);
	color: #fff;
	font-weight : bold;
	border: 10px inset #fff;
}
	
		.banner1-text p{
		padding: 0 8%;
		font-family: segoe script;
		font-size: 25px;
		
	}
	a{
		display: inline-block;
		padding: 10px 65px;
		border: 0px solid #fff;
		font-size: 18px;
		text-decoration: none;
		color: #fff;
		font-family: seoge script;
		text-align:center center;
		
}
